body {
    font-family: "Times New Roman", serif;
    background-color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 90%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/* WARNA KOLOM */
.waktu {
    background-color: #e6e6e6;
    font-weight: bold;
}

.senin {
    background-color: #ffd6d6;
}

.selasa {
    background-color: #ccffcc;
}

.rabu {
    background-color: #d6d6ff;
}

.kamis {
    background-color: #fff2b3;
}

.istirahat {
    background-color: #e6e6e6;
    font-weight: bold;
}
