body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    background-color: #bfe9ec;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.logo {
    width: 80px;
    margin-right: 20px;
}

.judul {
    text-align: center;
}

/* MENU */
.menu {
    text-align: center;
    padding-top: 20px;
}

.menu h3 {
    margin-bottom: 20px;
}

.menu a {
    display: block;
    background-color: crimson;
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

/* CONTENT */
.content {
    padding: 30px;
}

.content h2 {
    text-align: center;
}

table {
    margin: auto;
}

input, textarea {
    width: 250px;
    padding: 5px;
}

button {
    background-color: green;
    color: white;
    padding: 8px 30px;
    border: none;
}

/* FOOTER */
.footer {
    background-color: #bfe9ec;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}
